# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/master/Unity.gitignore

# Excluding Firebase SDK
EmojiJunkie/[Aa]ssets/Firebase/Editor Default Resources/
EmojiJunkie/[Aa]ssets/ExternalDependencyManager/
EmojiJunkie/[Aa]ssets/Parse/
EmojiJunkie/[Aa]ssets/StreamingAssets/
EmojiJunkie/[Aa]ssets/Firebase/
EmojiJunkie/[Aa]ssets/Plugins/
EmojiJunkie/[Aa]ssets/Editor Default Resources/Firebase/


EmojiJunkie/[Aa]ssets/Firebase.meta
EmojiJunkie/[Aa]ssets/Plugins.meta
EmojiJunkie/[Aa]ssets/ExternalDependencyManager.meta
EmojiJunkie/[Aa]ssets/Firebase/Editor Default Resources.meta
EmojiJunkie/[Aa]ssets/Editor Default Resources/Firebase.meta
EmojiJunkie/[Aa]ssets/Parse.meta
EmojiJunkie/[Aa]ssets/StreamingAssets.meta

# Excluding Google API Key
EmojiJunkie/[Aa]ssets/GoogleService-Info.plist
EmojiJunkie/[Aa]ssets/GoogleService-Info.plist.meta
EmojiJunkie/[Aa]ssets/google-services.json
EmojiJunkie/[Aa]ssets/google-services.json.meta
EmojiJunkie/[Aa]ssets/StreamingAssets/google-services-desktop.json
EmojiJunkie/[Aa]ssets/StreamingAssets/google-services-desktop.json.meta

# Excluding Unity Files
EmojiJunkie/[Ll]ibrary/
EmojiJunkie/[Tt]emp/
EmojiJunkie/[Oo]bj/
EmojiJunkie/[Bb]uild/
EmojiJunkie/[Bb]uilds/
EmojiJunkie/[Ll]ogs/
EmojiJunkie/[Uu]ser[Ss]ettings/
EmojiJunkie/[Mm]emoryCaptures/
EmojiJunkie/[Rr]ecordings/

# Uncomment this line if you wish to ignore the asset store tools plugin
# /[Aa]ssets/AssetStoreTools*

# Autogenerated Jetbrains Rider plugin
EmojiJunkie/[Aa]ssets/Plugins/Editor/JetBrains*

# Visual Studio cache directory
.vs/

# Gradle cache directory
.gradle/

# Autogenerated VS/MD/Consulo solution and project files
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity3D generated meta files
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Unity3D generated file on crash reports
sysinfo.txt

# Builds
*.apk
*.aab
*.unitypackage
*.app

# Crashlytics generated file
crashlytics-build.properties

# Packed Addressables
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

# Temporary auto-generated Android Assets
EmojiJunkie/[Aa]ssets/[Ss]treamingAssets/aa.meta
EmojiJunkie/[Aa]ssets/[Ss]treamingAssets/aa/*

# Excluding MacOS files
.DS_Store